@model WebApplication2.Models.Photo

@{
    ViewBag.Title = "Photos";
}

<h2>Photos</h2>




@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@



<table class="table">


    <tr>
        <div class="container body-content">
            @{

                for (int i = 0; i < Model.list.Count; i++)
                {
                <td>
                    

                        @Html.DisplayFor(modelitem => Model.list[i])
                        <br />
                        <h4> @Model.list[i].ToString()</h4>
                        <img src="@Url.Content(Model.list[i]) " alt="" class="img-circle" width="242" height="200" />
                        <br /><br />

                        @Html.DisplayFor(modelitem => Model.listOfDates[i])
                        <br /><br />
                        <center>

                            @Html.ActionLink("View", "View", "Photo", new { mip = Model.list[i].ToString() }, new { @class = "btn btn-primary", @width = "10" })

                            @Html.ActionLink("Delete", "Delete", "Photo", new { mip = Model.list[i].ToString() }, new { @class = "btn btn-danger", @width = "10" })

                        </center>
                    
                </td>

                    }

                }
           



            </div>
    </tr>
</table>
